= form_for(@project) do |p|
	= render 'shared/error_messages', :object => p.object
	.field
		= p.label :headline
		%br
		= p.text_field :headline
	.field
		= p.label :details
		%br
		= p.text_area :details
	.field
		= p.label :technology
		%br
		= p.text_field :technology
	.field
		= p.label :agency
		%br
		= p.text_field :agency
	.field
		= p.label :client
		%br
		= p.text_field :client
	.field
		= p.label :organization
		%br
		= p.text_field :organization
	.field
		= p.label :link_url
		%br
		= p.text_field :link_url
	.field
		= p.label :role
		%br
		= p.text_field :role
	.actions
		= p.submit "Create Project"