%h1 Create Tag
= form_for(@tag) do |t|
  = render 'shared/error_messages', :object => t.object
  .field
    = t.label :tag_name
    %br
    = t.text_field :tag_name
  .actions
    = t.submit "Create Tag"