%li{:class => "#{'single-' if defined? single}post", :id => "post-#{post.id}"}
	%h2= link_to post.headline, post
	%ul#post-tags
		%span Posted #{time_ago_in_words(post.created_at)} ago in
		- post.tags.each do |tag|
			%li
				= link_to tag.tag_name, tag
	.post-content
		!= truncate(post.rendered_content, :length => 150)