= form_for(@post,:html => { :multipart => true }) do |p|
	= render 'shared/error_messages', :object => p.object
	.field
		= p.label :headline
		%br
		= p.text_field :headline
	.field
		= p.label :content
		%br
		= p.text_area :content
	/ .field
	/ 	= p.label :photo
	/ 	%br
	/ 	= p.file_field :photo
	.field
		= p.fields_for :assets do |asset|
			- if asset.object.new_record?
				= asset.file_field :photo
	.field
		- p.fields_for :assets do |asset|
			- unless asset.object.new_record?
				.thumbnail
					= link_to(image_tag(asset.object.photo.url(:thumb)), asset.object.photo.url(:original))
					= asset.label :_destroy, 'Remove:'
					= asset.check_box :_destroy
	.field
		= p.label :tag
		%br
		- @tags.each do |tag|
			= check_box_tag(                     |
			"post[tag_list][#{tag.id}]",      |
			"1",                               |
			@post.tags.detect{|d| d == tag}) |
			= "#{tag.tag_name}"
		%br

	.actions
		= p.submit "Create Post"