%li{:class => "#{'single-' if defined? single}post", :id => "post-#{post.id}"}
	%h2= link_to post.headline, post
	%ul#post-tags
		%span Posted #{time_ago_in_words(post.created_at)} ago in
		%span.tags= tags(post)
	.post-content
		!= truncate(post.rendered_content, :length => 110, :separator => ' ')