%h1 Create New Post
= form_for(@post) do |p|
  = render 'shared/error_messages', :object => p.object
  .field
    = p.label :headline
    %br
    = p.text_field :headline
  .field
    = p.label :content
    %br
    = p.text_area :content
  .field
    = p.label :image_path
    %br
    = p.text_field :image_path
  .field
    = p.label :tag
    %br
    = select("post", "tag", Tag.all.collect {|t| [ t.tag_name, t.id ] })
  .actions
    = p.submit "Create Post"